.f1-list {
  .form-box {
    height: 450px;

    .ghost {
      background: $theme-color;
      border: 1px solid $theme-color;
      outline-width: 0;
      height: 1px;
      box-sizing: border-box;
      font-size: 0;
      content: '';
      overflow: hidden;
      padding: 0;
    }
  }

  .form-item {
    position: relative;
    margin-bottom: 4px;
    padding: 20px 60px 20px 10px;
    border: 1px dashed rgba($theme-color, 0.5);
    background-color: rgba($theme-color, 0.05);

    &.selected {
      outline: 2px solid $theme-color;
      border: 1px solid $theme-color;
      background-color: rgba($theme-color, 0.1);
    }

    &:after {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: block;
    }

    .form-item-drag,
    .form-item-action {
      position: absolute;
      padding: 2px;
      background: $theme-color;
      z-index: 9;
      line-height: 24px;
      i {
        font-size: 16px;
        color: #fff;
      }
    }

    .form-item-drag {
      right: -60px;
      top: -21px;

      i {
        cursor: move;
        margin-left: 4px;
      }
    }

    .form-item-action {
      right: -60px;
      bottom: -20px;

      i {
        cursor: pointer;
        margin: 0 4px;
      }
    }
  }
}
